@import "tailwindcss";

.circle {
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.carattere-bold {
  font-family: "Carattere", cursive;
  font-weight: 700;
  font-style: normal;
}
.cell {
  backdrop-filter: blur(5px);
}
div[class="row-cells header-days"] div {
  background-color: rgba(255, 255, 255, 0.4)!important;
}
.title-bar {
  background-color: rgba(255, 255, 255, 0.2)!important;
  border-bottom: 2px solid black;
}

.day-muted {
  opacity: 0.6!important;
}

.today {
  opacity: 0.8;
}

.month-name {
  font-size: 12px!important;
}

span.year-dropdown-button {
  background-color: black!important;
  opacity: 0.7;
}

span.year-dropdown-button:hover {
  opacity: 0.5!important;
}

#calendar {
  border-color: rgba(0, 0, 0, 0.5)!important;
}


